#see {
  border: 1px #ccc solid;
  width: 100%;
  height: 100px;
  margin-top: 20px;
  border-radius: 8px;
  font-size: 16px;
  color: #999;
}
#candidate {
  overflow-y: auto;
  height: 200px;
  width: 100%;

  border-radius: 8px;
  font-size: 16px;
  color: #999;
  border: 1px #ccc solid;
}
#saveBtn {
  background-color: #4caf50; /* 緑色 */
  color: white;
  border: none;
  padding: 10px 50px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 94%;
  padding: 10px 25px;
  writing-mode: horizontal-tb !important;
  text-orientation: mixed !important;
  display: inline-block;
  white-space: nowrap; /* ← 折り返し防止 */
  transform: none !important; /* ← 回転されている場合の保険 */
  margin-top: 40px;
}
#serch {
  width: 95%;
  height: 50px;

  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 16px;
  color: #999;
  border: 1px #ccc solid;
}

#big {
  width: 80%;
  margin: auto;
}
